.iva-calculation {
    position: relative;
    background-color: $warning;
    padding: 100px 0;
    @include media-breakpoint-down(lg) {
        padding: 50px 0;
    }
    .range-output {
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 20px;
        color: $dark;
        min-width: 110px;
        line-height: 30px;
        text-transform: uppercase;
        font-family: $font-family-monospace;
        font-weight: bold;
        @include media-breakpoint-down(sm) {
            margin-left: 0 !important;
            margin-top: 20px;
        }
    }
    .border-end {
        border-right-color: white !important;
        border-right-width: 2px;
        @include media-breakpoint-down(lg) {
            border-right: none !important;
            border-bottom: 2px solid white !important;
            border-bottom-width: 2px;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
    .backgrounds {
        .circle {
            border-color: #ffdc6e;
            left: -100px;
            top: -100px;
            border-width: 4vw;
            &--2 {
                right: -100px;
                left: auto;
                bottom: -100px;
                top: auto;
            }
        }
        .ball {
            bottom: -50px;
            left: 30%;
        }
        .dots {
            right: 15%;
            left: auto;
            top: 50px;
            background-image: url(../../../public/images/dots-grey.svg);
        }
    }
}
